<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>    
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction-desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="jewellery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jewellery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="jewellery-link">
                <a href="{% url 'products' %}?category=necklaces" class="dropdown-item">Necklace</a>
                <a href="{% url 'products' %}?category=earrings" class="dropdown-item">Earrings</a>
                <a href="{% url 'products' %}?category=bracelets" class="dropdown-item">Bracelets</a>
                <a href="{% url 'products' %}?category=necklaces,earrings,bracelets" class="dropdown-item">All Jewellery</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bags-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bags
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bags-link">
                <a href="{% url 'products' %}?category=clutchs" class="dropdown-item">Clutch</a>
                <a href="{% url 'products' %}?category=totes" class="dropdown-item">Tote</a>
                <a href="{% url 'products' %}?category=clutchs,totes" class="dropdown-item">All Bags</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="scarves-hats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Scarves & Hats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="scarves-hats-link">
                <a href="{% url 'products' %}?category=scarves" class="dropdown-item">Scarves</a>
                <a href="{% url 'products' %}?category=hats" class="dropdown-item">Hats</a>
                <a href="{% url 'products' %}?category=fascinators" class="dropdown-item">Fascinators</a>
                <a href="{% url 'products' %}?category=scarves,hats,fascinators" class="dropdown-item">All Scarves & Hats</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'sale_items' %}" id="sale_items" aria-haspopup="true" aria-expanded="false">
                SALE
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'blog_items' %}" id="blog_items" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div> 