{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="hero-image">
    <div class="section-holder">
        <div class="form-holder-lg">
            <main class="container">
                <div class="bg-overlay"></div>
                <div class="row">
                    <div class="col mt-3">
                        <h1 class=" mb-2 pt-1 text-center logo-font">Blog Items ({{ blog_items|length }}) <a
                                class="btn pink-btn" href="{% url 'add_blog_item' %}">Add</a></h1>
                    </div>
                </div>
                <hr>
                <!-- All Blog Items -->
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Blog Item Title</th>
                                        <th scope="col">Create Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for blog_item in blog_items %}
                                    <tr>
                                        <td>{{ blog_item.title }}</td>
                                        <td>{{ blog_item.create_date }}</td>
                                            {% if blog_item.status == 1 %}
                                                <td>Published</td>
                                            {% else %}
                                                <td>Draft</td>
                                            {% endif %}
                                         <td>
                                            <a class="btn pink-btn" href="{% url 'edit_blog_item' blog_item.id %}">Edit</a>
                                            <a class="btn btn-danger" href="{% url 'delete_blog_item' blog_item.id %}">Delete</a>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <hr>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}